name: continous-integration
on: [push]
jobs:
  install-package:
    name: Install package, download test data, and test
    runs-on: "ubuntu-latest"
    env:
      DOCKER_BUILDKIT: "1"
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          activate-environment: foo
      - name: Conda info and list
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - name: Install dependencies with conda
        shell: bash -l {0}
        run: |
          conda install numpy==1.15.4 scipy==1.2.0 scikit-learn==0.20.2 matplotlib==2.2.3 mkl==2019.1 mkl-service scikit-learn==0.20.2 matplotlib==2.2.3 seaborn==0.9.0 pandas==0.24.0 libxml2==2.9.9 libxslt==1.1.33 graphviz==2.40.1 cython==0.29.2 imageio==2.5.0 olefile==0.46 pillow==6.0.0 scikit-image==0.14.2 traits==4.6.0
      - name: Install depenenciew with pip
        shell: bash -l {0}
        run: |
          pip install pybids==0.10.2 \
            nipype==1.4.2 \
            bids-validator==1.4.4 \
            niworkflows==1.1.3 \
            nibabel==3.0.0 \
            nilearn==0.6.2 \
            svgutils==0.3.1
      - name: Install python_dmri_preprocessing package
        shell: bash -l {0}
        run: |
          pip install --no-cache-dir .
      - name: Run dmri_preprocessing from command line
        shell: bash -l {0}
        run: dmri_preprocessing --version
      - name: Install datalad
        shell: bash -l {0}
        run: conda install -y -c conda-forge datalad
      - name: Get dataset ds002080
        shell: bash -l {0}
        run: |
          git config --global user.email "github-actions@github.com" \
          && git config --global user.name "Github Actions" \
          && make test_data 
      - name: Install pytest
        shell: bash -l {0}
        run: conda install pytest
      - name: Run tests
        shell: bash -l {0}
        run: pytest
      - name: System test - build docker image
        shell: bash -l {0}
        run: @docker build . -t dmri_preprocessing:test
      - name: System test - run dmri_preprocessing with test data downloaded
        shell: bash -l {0}
        run: | 
          @docker run -v $PWD:$PWD dmri_preprocessing:test $PWD/tests/ds002080 $PWD/tests/ds002080/derivatives participant \
            --participant_label sub-CON02 --session_label ses-postop --work_dir tests/work